body {
    margin-left: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid navy;
  background-color: aliceblue;
}

h1 {
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  text-shadow: 16px;
}

/*.logout {
  background-color: rgb(41, 41, 100);
  align-self: flex-start;
 }

 .home {
  align-self: flex-end;
 }*/

 #search {
  color: blue;
  font-family: 'Courier New', Courier, monospace;
 }

 button{
  background-color: navy;
  color: white;
 }

 p, label {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color:navy;
 }

 .square{
  margin-top: 30px;
 }

 ul {
  list-style-type: none;
 }

 .nav {
  display: flex;
  border: 5px solid red;
 }

.nav ul {
  flex: 1;
  font-size: 15px;
  
}