.container {
    border: 5px solid rgba(14, 30, 69, 0.869);
    background-color: azure;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  html, body {
    box-sizing: border-box;
    height: 100%;
  }

.container > div {
  background-color: rgb(40, 93, 162);
  border: 4px solid bisque;
  padding: 10px;
  margin: 10px;    
  }

div {
  color: rgb(250, 243, 235);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

/*.logout {
  background-color: rgb(41, 41, 100);
  align-self: flex-start;
 }

 .home {
  align-self: flex-end;
 }*/

 #search {
  color: blue;
 }

 button{
  background-color: blue;
  color: white;
 }